{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<style type="text/css">
.main{
    text-align: center; /*让div内部文字居中*/
    background-color: #0;
    border-radius: 20px;
    font-family: Univers;
    width: 500px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.padding_top{
    padding-top: 15px;
}

</style>
{% endblock %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-1" style="height: 45px; border: 1px solid rgba(0, 0, 0, 0.2); text-align: center; font-family:Univers;
        font-weight:bold; font-size:14px; line-height: 45px">
            <a href="{{ url_for('main.explore') }}">Explore</a>
        </div>
        <div class="col-md-1" style="height: 45px; border: 1px solid rgba(0, 0, 0, 0.2); text-align: center; font-family:Univers;
            font-weight:bold; font-size:14px; line-height: 45px">
            <a href="{{ url_for('main.help') }}">Help</a>
        </div>
        <div class="col-md-1" style="height: 45px; border: 1px solid rgba(0, 0, 0, 0.2); text-align: center; font-family:Univers;
        font-weight:bold; font-size:14px; line-height: 45px">
            <a href="{{ url_for('auth.login') }}">Sign in</a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="main">
    <h2>New Flask Blog?</h2>
    <p>Create your free Flask Blog ID to get started.</p>
    <hr />
    <form class="form-horizontal" role="form" method="POST"> 
        <div class="form-group">
            {{form.hidden_tag()}}
            <label class="col-md-4" style="text-align:right">
                {{form.blog_id.label(class="control-label", for="BlogID")}}
            </label>
            <div class="col-md-7">
                {{form.blog_id(id="BlogID", class="form-control", placeholder="Blog ID")}}
            </div>
            {% for error in form.errors.blog_id%}
                <p class="help-block has-error">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-group">
            <label class="col-md-4" style="text-align:right">
                {{form.email.label(class="control-label",for="email")}}
            </label>
            <div class="col-md-7">
                {{form.email(id="Email", class="form-control", placeholder="Email", required=True)}}
            </div>
            {% for error in form.errors.email%}
                <p class="help-block has-error">{{ error }}</p>
            {% endfor %}
        </div>


        <div class="form-group">
            <label class="col-md-4" style="text-align:right">
                {{form.password.label(class="control-label",for="Password", style="text-align:right")}}
            </label>
            <div class="col-md-7">
                {{form.password(id="Password", class="form-control", placeholder="Password", required=True)}}
            </div>
            {% for error in form.errors.password %}
                <p class="help-block has-error">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-group">
            <label class="col-md-4" style="text-align:right">
                {{form.password2.label(class="control-label",for="Password", style="text-align:right")}}
            </label>
            <div class="col-md-7">
                {{form.password2(id="Password", class="form-control", placeholder="Password", required=True)}}
            </div>
            {% for error in form.errors.password2 %}
            <p class="help-block has-error">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                {{form.submit(style="background: CornflowerBlue", class="btn btn-default btn-block")}}
            </div>
            
        </div>

    </form>
</div>

{% endblock %}
